$color-main: rgb(181, 75, 211);

$bg-color-btn-primary: (315deg, rgb(215, 89, 250), rgb(181, 75, 211));
$bg-color-btn-primary-hover: (315deg, rgb(215, 89, 250), rgb(97, 24, 117));

/* background-image: linear-gradient(to right top, #dadde2, #dfe2e7, #e3e7ec, #e8ecf2, #edf1f7, #f0f4f9, #f4f7fc, #f7fafe, #fafbfe, #fcfcfe, #fefeff, #ffffff); */

$bg-color-btn-secondary: (
  to right bottom,
  #dadde2,
  #e1e3e7,
  #e8e9ed,
  #eff0f2,
  #f6f6f8,
  #f9f9fa,
  #fcfcfd,
  #ffffff,
  #ffffff,
  #ffffff,
  #ffffff,
  #ffffff
);

$bg-color-btn-secondary-hover: (
  to right bottom,
  #b1bdc5,
  #c0c9d0,
  #d0d5db,
  #dee1e5,
  #edeef0,
  #f3f4f5,
  #f9f9fa,
  #ffffff,
  #ffffff,
  #ffffff,
  #ffffff,
  #ffffff
);

@mixin btn-base {
  margin: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
}

@mixin btn-sm-modify {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.button-primary {
  @include btn-base();
  color: white;
  background: linear-gradient($bg-color-btn-primary);
  box-shadow: -2px -2px 4px #9b40b4, 2px 2px 4px #f766ff;

  &:hover {
    background: linear-gradient($bg-color-btn-primary-hover);
  }

  &-s {
    @extend .button-primary;
    @include btn-sm-modify();
  }
}

.button-secondary {
  @include btn-base();
  color: rgb(182, 182, 182);
  background: linear-gradient($bg-color-btn-secondary);
  box-shadow: -2px -2px 4px #dadde2, 2px 2px 4px #f6f6f8;

  &:hover {
    background: linear-gradient($bg-color-btn-secondary-hover);
  }

  &-s {
    @extend .button-secondary;
    @include btn-sm-modify();
  }
}

.main-menu {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline;
    font-size: 0.75rem;
    margin: 0.25rem;
    @extend .button-secondary;
    a {
      color: rgb(188, 183, 183);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.icon-sm {
  i {
    color: $color-main;
    font-size: 1rem;
    padding: 0.6rem 0.7rem;
    border-radius: 50%;
    background: linear-gradient($bg-color-btn-secondary);
    box-shadow: -2px -2px 4px #dadde2, 2px 2px 4px #f6f6f8;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center; //en el tuto no lo incluye
  height: 100%;
  i {
    color: $color-main;
    font-size: 7.5rem;
    text-align: center;
  }
  .description {
    position: relative;
    .title {
      font-size: 2rem;
      text-align: center;
    }
    .text {
      color: #888;
      font-weight: 600;
      text-align: center;
    }
  }
  .cta {
    margin-top: 3rem;
    margin-bottom: 0;
    color: $color-main;
    font-weight: 600;
    text-align: center;
  }
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    padding: 0;
    color: $color-main;
    font-size: 10rem;
    text-align: center;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -1rem;
    text-align: center;
  }
}
