.button-primary, .button-primary-s {
  margin: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  color: white;
  background: linear-gradient(315deg, rgb(215, 89, 250), rgb(181, 75, 211));
  box-shadow: -2px -2px 4px #9b40b4, 2px 2px 4px #f766ff;
}
.button-primary:hover, .button-primary-s:hover {
  background: linear-gradient(315deg, rgb(215, 89, 250), rgb(97, 24, 117));
}
.button-primary-s {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.button-secondary, .main-menu li, .button-secondary-s {
  margin: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  color: rgb(182, 182, 182);
  background: linear-gradient(to right bottom, #dadde2, #e1e3e7, #e8e9ed, #eff0f2, #f6f6f8, #f9f9fa, #fcfcfd, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  box-shadow: -2px -2px 4px #dadde2, 2px 2px 4px #f6f6f8;
}
.button-secondary:hover, .main-menu li:hover, .button-secondary-s:hover {
  background: linear-gradient(to right bottom, #b1bdc5, #c0c9d0, #d0d5db, #dee1e5, #edeef0, #f3f4f5, #f9f9fa, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
.button-secondary-s {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.main-menu {
  margin: 0;
  padding: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 0.75rem;
  margin: 5px;
  /*     border-radius: 5px;
  border-bottom: 3px solid rgba($color: lightgrey, $alpha:0.3); */
}
.main-menu li a {
  color: rgb(188, 183, 183);
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  color: rgb(181, 75, 211);
  font-size: 0.75rem;
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #dadde2, #e1e3e7, #e8e9ed, #eff0f2, #f6f6f8, #f9f9fa, #fcfcfd, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  box-shadow: -2px -2px 4px #dadde2, 2px 2px 4px #f6f6f8;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature .icon {
  color: rgb(181, 75, 211);
  font-size: 10rem;
  text-align: center;
}
.feature .description .title {
  font-size: 2rem;
  text-align: center;
}
.feature .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.feature .cta {
  margin-top: 3rem;
  color: rgb(181, 75, 211);
  font-weight: 600;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc .icon {
  padding: 0;
  color: rgb(181, 75, 211);
  font-size: 10rem;
  text-align: center;
}
.icon-desc .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -2rem;
  text-align: center;
}

.button-primary, .button-primary-s {
  margin: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  color: white;
  background: linear-gradient(315deg, rgb(215, 89, 250), rgb(181, 75, 211));
  box-shadow: -2px -2px 4px #9b40b4, 2px 2px 4px #f766ff;
}
.button-primary:hover, .button-primary-s:hover {
  background: linear-gradient(315deg, rgb(215, 89, 250), rgb(97, 24, 117));
}
.button-primary-s {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.button-secondary, .main-menu li, .button-secondary-s {
  margin: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  color: rgb(182, 182, 182);
  background: linear-gradient(to right bottom, #dadde2, #e1e3e7, #e8e9ed, #eff0f2, #f6f6f8, #f9f9fa, #fcfcfd, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  box-shadow: -2px -2px 4px #dadde2, 2px 2px 4px #f6f6f8;
}
.button-secondary:hover, .main-menu li:hover, .button-secondary-s:hover {
  background: linear-gradient(to right bottom, #b1bdc5, #c0c9d0, #d0d5db, #dee1e5, #edeef0, #f3f4f5, #f9f9fa, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
.button-secondary-s {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.main-menu {
  margin: 0;
  padding: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 0.75rem;
  margin: 5px;
  /*     border-radius: 5px;
  border-bottom: 3px solid rgba($color: lightgrey, $alpha:0.3); */
}
.main-menu li a {
  color: rgb(188, 183, 183);
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  color: rgb(181, 75, 211);
  font-size: 0.75rem;
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #dadde2, #e1e3e7, #e8e9ed, #eff0f2, #f6f6f8, #f9f9fa, #fcfcfd, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  box-shadow: -2px -2px 4px #dadde2, 2px 2px 4px #f6f6f8;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature .icon {
  color: rgb(181, 75, 211);
  font-size: 10rem;
  text-align: center;
}
.feature .description .title {
  font-size: 2rem;
  text-align: center;
}
.feature .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.feature .cta {
  margin-top: 3rem;
  color: rgb(181, 75, 211);
  font-weight: 600;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc .icon {
  padding: 0;
  color: rgb(181, 75, 211);
  font-size: 10rem;
  text-align: center;
}
.icon-desc .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -2rem;
  text-align: center;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.nav {
  margin-top: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-left: 2px solid rgb(195, 193, 193);
  border-right: 2px solid lightgray;
  border-radius: 15px;
  background: linear-gradient(to right bottom, #dadde2, #e1e3e7, #e8e9ed, #eff0f2, #f6f6f8, #f9f9fa, #fcfcfd, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  box-shadow: -2px -2px 4px #dadde2, 2px 2px 4px #f6f6f8;
}

.logo img {
  margin: 0;
  max-width: 6rem;
  height: 100%;
}

/* Components */
/* Styles Globals */

/*# sourceMappingURL=index.css.map */
